<div class="card-container" [style.border-top]="borderColor">
    <div class="card-image">
      <img [src]="imageUrl" alt="Card image" />
    </div>
    <div class="card-content">
      <h3>{{ title }}</h3>
      <span class="category">{{ category }}</span>
      <div class="card-footer">
        <span class="score-text">METASCORE</span>
        <div class="score" [style.background]="borderColor">
          {{ score }}
        </div>
        <p class="status">{{ status }}</p>
        <span class="reviews">Based on {{ reviews }} Critic Reviews</span>
      </div>
    </div>
  </div>  