@import '../../styles/colors.scss';
@import '../../styles/styles.scss';

.review_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    .review_header {
        display: flex;
        align-items: center;
        padding: 10px;
        width: 60%;
        border-radius: $border-radius;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .review_header_left {
            width: 65%;
            img {
                width: 700px;
                height: 450px;
                border-radius: $border-radius;
            }
        }

        .review_header_right {
            width: 35%;
        }
    }
}