<div class="post_detail" *ngIf="postContent">
  <div class="post_detail_left">
    <div class="post_detail_left_title">
      <h1>{{ postContent.title }}</h1>
    </div>
    <div class="post_detail_left_banner"><img [src]="postContent.image" /></div>
    <div class="post_detail_left_info">
      <p>
        <span>{{ postContent.postingDate }}</span>
        <span><fa-icon [icon]="faHeart" class="light-icon"></fa-icon> 100</span>
        <span><fa-icon [icon]="faComment" class="light-icon"></fa-icon> 3</span>
      </p>
    </div>
    <div class="post_detail_left_content">
      <p>{{ postContent.text }}</p>
    </div>
    <div class="comments">
      <div class="comments_title">3 Comments</div>
      <div class="comment">
        <div class="comment_avatar"><img src="../../assets/bf1small.jpg" alt=""></div>
        <div class="comment_content">
          <div class="comment_content_username">Miki Maus</div>
          <div class="comment_content_text"><span>This is the best gaming forum and store ever!</span></div>
          <div class="comment_content_reply"><a href="#">REPLY</a></div>
        </div>
      </div>
      <div class="comment">ovo je drugi komentar</div>
      <div class="comment">ovo je treci komentar</div>
    </div>
  </div>
  <div class="post_detail_right">
    <div class="post_detail_right_title">
      <h3>Popular Articles</h3>
    </div>
    <div class="post_detail_right_articles">
      <div
        class="post_detail_right_articles_item"
        *ngFor="let article of popularArticles"
        [routerLink]="['/post', article.id]"
      >
        <div class="post_detail_right_articles_item_title">
          <h4>{{ article.title }}</h4>
        </div>
        <div class="post_detail_right_articles_item_info">
          <p>
            <span>{{ article.postingDate }}</span>
            <span><fa-icon [icon]="faHeart" class="light-icon"></fa-icon> 100</span>
            <span><fa-icon [icon]="faComment" class="light-icon"></fa-icon> 3</span>
          </p>
        </div>
      </div>
    </div>
    
    <div class="post_detail_right_newsletter">
      <div class="post_detail_right_newsletter_title">
        <h3>Subscribe For Newsletter</h3>
      </div>
      <div class="post_detail_right_newsletter_input">
        <input type="email" placeholder="Enter your email address">
      </div>
    </div>
    <div class="post_detail_right_topfivegames">
      <h4>Top 5 Best Games</h4>
      <div class="post_detail_right_topfivegames_item" *ngFor="let game of topFiveGames; let i = index" [routerLink]="['/games', game.id]">
        <div class="post_detail_right_topfivegames_item_thumb">
          <div class="rank-circle">{{ i + 1 }}</div>
          <img [src]="game.image" alt="{{ game.title }}" />
        </div>
        <div class="post_detail_right_topfivegames_item_content">
          <h5>{{ game.title }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>