<div class="games">
  <div class="games_title">
    <h1>All Games</h1>
  </div>
  <div class="games_grid">
    <div class="games_grid_card" *ngFor="let game of allGames" [routerLink]="['/games', game.id]">
      <img [src]="game.image" alt="Review Image">
      <div><b>{{ game.title }}</b></div>
      <div
        class="games_grid_card_score"
        [ngClass]="{
          'low-score': game.averageCriticScore < 50,
          'medium-score': game.averageCriticScore >= 50 && game.averageCriticScore < 75,
          'high-score': game.averageCriticScore >= 75
        }"
      >
        {{ game.averageCriticScore }}
      </div>
    </div>
  </div>
</div>