<div class="trending">
    <h3>Trending</h3>
    <!-- <hr> -->
    <div class="trending_content">
        <div class="trending_content_upper">
            <div class="trending_large_content">LARGE</div>
            <div class="trending_recent_news">
                <h4>Recent News</h4>
                <div>1</div>
                <div>2</div>
                <div>3</div>
            </div>
        </div>
        <div class="trending_content_lower">
            <div class="trending_content_lower_box">1</div>
            <div class="trending_content_lower_box">2</div>
            <div class="trending_content_lower_box">3</div>
            <div class="trending_content_lower_box">4</div>
        </div>
    </div>
</div>