<div class="trending">
    <h3>Trending</h3>
    <div class="trending_content">
        <div class="trending_content_upper">
            <div class="trending_large_content" [routerLink]="['/post', trendingLargeContent.id]">
                <h2>{{ trendingLargeContent.title }}</h2>
            </div>
            <div class="trending_recent_news">
                <h4>Recent News</h4>
                <div class="trending_recent_news_article" *ngFor="let news of recentNews" [routerLink]="['/news', news.id]">
                    <div class="trending_recent_news_article_left">
                        <img [src]="news.image" alt="news image" />
                    </div>
                    <div class="trending_recent_news_article_right">
                        <h4>{{ news.title }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="trending_content_lower">
            <div class="trending_content_lower_box" *ngFor="let post of trendingLowerContent"
                [routerLink]="['/post', post.id]">
                <img [src]="post.image" alt="">
                <div>{{ post.title }}</div> <!-- Ovo je tekst na dnu slike -->
            </div>

        </div>
    </div>
</div>