.splide {
  width: 80%;  /* Slajder koristi punu širinu */
  margin: 0 auto;
  position: relative; /* Potrebno da apsolutno pozicionirane strelice budu unutar slajdera */

  .splide__track {
    padding: 20px 0;
  }

  .splide__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 5px; /* Smanji razmak između kartica */
  }

  .splide__slide {
    padding: 0;
    flex-shrink: 1;
    width: 300px; /* Uskladi sa širinom kartica */
  }

  // .splide__pagination {
  //   display: flex;
  //   justify-content: center;
  //   margin-top: 15px;
  // }

  // .splide__pagination__page {
  //   background-color: #ccc;
  //   width: 12px;
  //   height: 12px;
  //   margin: 0 5px;
  //   border-radius: 50%;
  //   cursor: pointer;
  // }

  // .splide__pagination__page.is-active {
  //   background-color: #00ce7a;
  // }

  /* Stilovi za strelice */
  .splide__arrows {
    display: flex;
    justify-content: right;
  }

  // .splide__arrow--prev {
  //   right: 70px; /* Razmak između strelica */
  // }

  // .splide__arrow--next {
  //   right: 20px; /* Poravnaj desnu strelicu uz ivicu */
  // }
}