.slider-container {
  position: relative;
  overflow: hidden;
  width: 70%;
  padding: 40px;
  margin: 20px auto;

  .slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    padding: 0 0 10px 0;

    h2 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }

    .slider-controls {
      display: flex;
      gap: 10px;
    }
  }

  .wrap {
    width: calc(375px * 4); // Postavi širinu za 4 kartice (4 kartice * širina 330px)
    overflow: hidden;
  }

  .cards-wrapper {
    display: flex;
    transition: transform 0.8s ease-in-out;
  }

  .arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #b77a37;
    color: #b77a37;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &.inactive {
      border: 2px solid transparent;
      cursor: not-allowed;
      background: transparent;
      color: rgba(0, 0, 0, 0.2);
      box-shadow: none;
    }

    &:hover {
      background: #e0e0e0;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
  }
}
