<div class="slider-container">
  <div class="slider-header">
    <h2>New Games</h2>
    <div class="slider-controls">
      <button
        class="arrow prev"
        [ngClass]="getArrowClass('left')"
        (click)="prevCard()"
      >
        &#x2190;
      </button>
      <button
        class="arrow next"
        [ngClass]="getArrowClass('right')"
        (click)="nextCard()"
      >
        &#x2192;
      </button>
    </div>
  </div>
  <div class="wrap">
    <div class="cards-wrapper" [ngStyle]="{ transform: 'translateX(' + (-currentIndex * 370) + 'px)' }">
      <app-card
        *ngFor="let card of cards"
        [title]="card.title"
        [category]="card.category"
        [score]="card.score"
        [scoreText]="card.scoreText"
        [reviews]="card.reviews"
        [imageUrl]="card.imageUrl"
        [status]="card.status"
      >
      </app-card>
    </div>
  </div>
</div>