.latest_reviews {
    margin: 0 auto;
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 600px;

    .latest_reviews_headline {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        align-items: center;

        h3 {
            font-size: 30px;
            padding: 0;
            margin: 10px 0;
        }

        a {
            color: black;
        }
    }

    

    .latest_reviews_content {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    
        .latest_reviews_content_left {
            display: flex;
            flex-direction: column;
            border: 1px solid;
            height: 100%;
            width: 50%;

            .latest_reviews_content_left_large {
                border: 1px solid;
                height: 60%;
            }

            .latest_reviews_content_left_grid {
                border: 1px solid;
                height: 40%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
                padding: 10px;

                .latest_reviews_content_left_grid_box {
                    border: 1px solid;
                    width: 30%;
                    
                }
            }
        }
        .latest_reviews_content_right {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid;
        }
    }


}    
   