<div class="latest_reviews">
    <div class="latest_reviews_headline">
        <h3>Latest Reviews</h3>
        <a href="#">View All ></a>
    </div>
    
    <!-- <hr> -->
    <div class="latest_reviews_content">
        <div class="latest_reviews_content_left">
            <div class="latest_reviews_content_left_large">
                large
            </div>
            <div class="latest_reviews_content_left_grid">
                <div class="latest_reviews_content_left_grid_box">1</div>
                <div class="latest_reviews_content_left_grid_box">2</div>
                <div class="latest_reviews_content_left_grid_box">3</div>
            </div>
        </div>
        <div class="latest_reviews_content_right">
            <h4>Top 5 Best Games</h4>
            <div class="latest_reviews_content_right_item">1</div>
            <div class="latest_reviews_content_right_item">2</div>
            <div class="latest_reviews_content_right_item">3</div>
            <div class="latest_reviews_content_right_item">4</div>
            <div class="latest_reviews_content_right_item">5</div>
        </div>
    </div>
</div>