<div class="latest_reviews">
    <div class="latest_reviews_headline">
        <h3>Latest Reviews</h3>
        <a routerLink="/reviews">View All ></a>
    </div>

    <div class="latest_reviews_content">
        <div class="latest_reviews_content_left">
            <div class="latest_reviews_content_left_large" [routerLink]="['/reviews', latestReview.id]">
                <img [src]="latestReview.image" alt="{{ latestReview.title }}" />
                <div>
                    <h2>{{ latestReview.title }}</h2>
                </div>
            </div>
            <div class="latest_reviews_content_left_grid">
                <div class="latest_reviews_content_left_grid_box" *ngFor="let review of reviewsGrid"
                    [routerLink]="['/reviews', review.id]">
                    <img [src]="review.image" alt="" />
                    <div>
                        <h6>{{ review.title }}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="latest_reviews_content_right">
            <h4>Top 5 Best Games</h4>
            <div class="latest_reviews_content_right_item" *ngFor="let review of topFiveReviews; let i = index"
                [routerLink]="['/reviews', review.id]">
                <div class="latest_reviews_content_right_item_post_thumb">
                    <div class="rank-circle">{{ i + 1 }}</div>
                    <img [src]="review.image" alt="">
                </div>
                <div class="latest_reviews_content_right_item_post_content"><h5>{{ review.title }}</h5></div>
            </div>
        </div>
    </div>